.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 48px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__o8XQn {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 8px 16px 0px;
}
.freeBox__o8XQn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__o8XQn > :global(.__wab_flex-container) > *,
.freeBox__o8XQn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o8XQn > :global(.__wab_flex-container) > picture > img,
.freeBox__o8XQn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.freeBox__zftvs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__mv3L5 {
  position: relative;
  object-fit: cover;
  max-width: auto;
  object-position: left 50%;
  max-height: 150px;
  align-self: flex-start;
}
.img__mv3L5 > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.svg__npcAb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  margin-right: 24px;
}
.svg__otBx0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
}
.freeBox___1U0Kr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  letter-spacing: -2px;
  padding-top: 96px;
  min-width: 0;
}
.text___1PWck {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 24px;
  min-width: 0;
}
.freeBox___0Ghob {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 24px;
}
.freeBox___6Iidt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  overflow: visible;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 8px;
}
.button__xOpbu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xH0O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 700;
  min-width: 0;
}
.freeBox__oFjm2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.form2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  color: #000000;
  box-shadow: none;
  font-style: normal;
  min-width: 0;
  padding: 8px;
}
.formField__cl5Yf:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__idlag:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___1GKS:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__bmj1X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__mT5Xv:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__dnijL:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select__pcg2M:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__vu0Hy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__n6Igv:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select___4Zet2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__xpPc8:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.select__edPdn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__nGgXz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tz5B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tWx0E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 48px;
}
.freeBox__dLsK4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__o1Wk4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__o1Wk4 > picture > img {
  object-fit: cover;
}
.freeBox__hsHDg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__p05ZY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
