.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 48px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__uvZpa {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 8px 16px 0px;
}
.freeBox__uvZpa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__uvZpa > :global(.__wab_flex-container) > *,
.freeBox__uvZpa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uvZpa > :global(.__wab_flex-container) > picture > img,
.freeBox__uvZpa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uvZpa {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__kGd4T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__gqSew {
  position: relative;
  object-fit: cover;
  max-width: auto;
  object-position: left 50%;
  max-height: 150px;
  align-self: flex-start;
}
.img__gqSew > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.button__hqr9K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__gDq6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6Z65R {
  padding-right: 0px;
}
.svg__dr80 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__lUg1Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lUg1Z:global(.__wab_instance) {
    display: none;
  }
}
.svg__qO0O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uLa6G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bZdp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  margin-right: 24px;
}
.svg__blvxU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__e1PPb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
  padding: 90px 48px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e1PPb {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: calc(0px + 0px) !important;
  }
}
.freeBox__cgm2T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 40px;
  letter-spacing: -2px;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  color: #eeeeee;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .form:global(.__wab_instance) {
    max-width: 100%;
  }
}
.formField__tPfvT:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  color: #000000;
}
.input___2OyXn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #000000;
}
.formField__uyKWp:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__xDb2N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color:#000000;
}
.formField___116S2:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  color:#000000;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color:#000000;
}
.button__oEdS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__c5RY3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xZhom {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 32px;
  font-size: 20px;
  min-width: 0;
}
.text__r7Qs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  min-width: 0;
}
.freeBox__jRYrW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 48px;
}
.freeBox__hak44 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__phfNe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__phfNe > picture > img {
  object-fit: cover;
}
.freeBox__tGKcu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__bzHBe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
