.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 48px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox___3NWoe {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 8px 16px 0px;
}
.freeBox___3NWoe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox___3NWoe > :global(.__wab_flex-container) > *,
.freeBox___3NWoe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3NWoe > :global(.__wab_flex-container) > picture > img,
.freeBox___3NWoe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.freeBox__ts3Mz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__o9G1O {
  position: relative;
  object-fit: cover;
  max-width: auto;
  object-position: left 50%;
  max-height: 150px;
  align-self: flex-start;
}
.img__o9G1O > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.svg__wvJwh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  margin-right: 24px;
}
.svg__kxHpt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
}
.freeBox___1Zp2K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
  padding: 90px 48px 32px;
}
.freeBox__ix7Pw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 40px;
  letter-spacing: -2px;
  min-width: 0;
}
.text__mo8Xn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 32px;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  color: #eeeeee;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.formField__rtdr4:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__yyAeM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  background-color: #16161D;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2231%22%20viewBox%3D%220%200%2060%2061%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22fill-dark-1%20fill-dark-3%20js-on-edit%22%20sf-label%3D%22SVG%20icon%22%20sf-type%3D%22svg%22%20sf-uid%3D%2215%22%20draggable%3D%22true%22%3E%3Cpath%20d%3D%22M25.116%2035.5C21.3511%2031.7205%2021.6902%2025.2522%2025.8735%2021.0527L37.9925%208.88655C42.1757%204.68707%2048.619%204.34662%2052.384%208.12615C56.149%2011.9057%2055.8098%2018.3739%2051.6265%2022.5734L45.567%2028.6565%22%20stroke%3D%22%231C274C%22%20stroke-width%3D%223.75%22%20stroke-linecap%3D%22round%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M34.884%2025.5C38.649%2029.2795%2038.3098%2035.7478%2034.1265%2039.9473L28.067%2046.0302L22.0075%2052.1135C17.8242%2056.313%2011.3809%2056.6532%207.616%2052.8737C3.85108%2049.0942%204.19023%2042.626%208.37348%2038.4265L14.4331%2032.3432%22%20stroke%3D%22%231C274C%22%20stroke-width%3D%223.75%22%20stroke-linecap%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 10px center; /* Adjust as needed */
  padding-left: 45px; /* Give space for the icon */
  padding-top: 12px;
  padding-bottom: 12px;
}
.formField__huYHe:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__rukpF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  background-color: #16161D;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2231%22%20viewBox%3D%220%200%2060%2061%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22fill-dark-1%20fill-dark-3%20js-on-edit%22%20sf-label%3D%22SVG%20icon%22%20sf-type%3D%22svg%22%20sf-uid%3D%2215%22%20draggable%3D%22true%22%3E%3Cpath%20d%3D%22M25.116%2035.5C21.3511%2031.7205%2021.6902%2025.2522%2025.8735%2021.0527L37.9925%208.88655C42.1757%204.68707%2048.619%204.34662%2052.384%208.12615C56.149%2011.9057%2055.8098%2018.3739%2051.6265%2022.5734L45.567%2028.6565%22%20stroke%3D%22%231C274C%22%20stroke-width%3D%223.75%22%20stroke-linecap%3D%22round%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M34.884%2025.5C38.649%2029.2795%2038.3098%2035.7478%2034.1265%2039.9473L28.067%2046.0302L22.0075%2052.1135C17.8242%2056.313%2011.3809%2056.6532%207.616%2052.8737C3.85108%2049.0942%204.19023%2042.626%208.37348%2038.4265L14.4331%2032.3432%22%20stroke%3D%22%231C274C%22%20stroke-width%3D%223.75%22%20stroke-linecap%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 10px center; /* Adjust as needed */
  padding-left: 45px; /* Give space for the icon */
  padding-top: 12px;
  padding-bottom: 12px;
}
.formField__r2Rsf:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__gpIhZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  background-color: #16161D;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2231%22%20viewBox%3D%220%200%2060%2061%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22fill-dark-1%20fill-dark-3%20js-on-edit%22%20sf-label%3D%22SVG%20icon%22%20sf-type%3D%22svg%22%20sf-uid%3D%2215%22%20draggable%3D%22true%22%3E%3Cpath%20d%3D%22M25.116%2035.5C21.3511%2031.7205%2021.6902%2025.2522%2025.8735%2021.0527L37.9925%208.88655C42.1757%204.68707%2048.619%204.34662%2052.384%208.12615C56.149%2011.9057%2055.8098%2018.3739%2051.6265%2022.5734L45.567%2028.6565%22%20stroke%3D%22%231C274C%22%20stroke-width%3D%223.75%22%20stroke-linecap%3D%22round%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M34.884%2025.5C38.649%2029.2795%2038.3098%2035.7478%2034.1265%2039.9473L28.067%2046.0302L22.0075%2052.1135C17.8242%2056.313%2011.3809%2056.6532%207.616%2052.8737C3.85108%2049.0942%204.19023%2042.626%208.37348%2038.4265L14.4331%2032.3432%22%20stroke%3D%22%231C274C%22%20stroke-width%3D%223.75%22%20stroke-linecap%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 10px center; /* Adjust as needed */
  padding-left: 45px; /* Give space for the icon */
  padding-top: 12px;
  padding-bottom: 12px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__w5ScZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hgtK6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hgtK6 {
    max-width: 0%;
  }
}
.svg__lnkmx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-sn6Zb6km7CqW);
  height: 300px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lnkmx {
    opacity: 0;
  }
}
.freeBox___0YTm4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 48px;
}
.freeBox__lmy4P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__apVHu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__apVHu > picture > img {
  object-fit: cover;
}
.freeBox__p7Nwn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__mmgyp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
