.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 48px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.freeBox__tvYke {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 8px 16px 0px;
}
.freeBox__tvYke > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__tvYke > :global(.__wab_flex-container) > *,
.freeBox__tvYke > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tvYke > :global(.__wab_flex-container) > picture > img,
.freeBox__tvYke
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.freeBox__mpiyB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__jr08R {
  position: relative;
  object-fit: cover;
  max-width: auto;
  object-position: left 50%;
  max-height: 150px;
  align-self: flex-start;
}
.img__jr08R > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.button___5QNhr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tBjVu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oevJ6 {
  padding-right: 0px;
}
.svg__jGgE8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__e53OB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__e53OB:global(.__wab_instance) {
    display: none;
  }
}
.svg__za9BY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___1LjGs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__af9Kn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
  margin-right: 24px;
}
.svg__sCnT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 40px;
}
.freeBox__vZzfd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
  padding: 112px 48px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vZzfd {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: calc(0px + 0px) !important;
  }
}
.freeBox___1Ivh9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox___6R9J2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__uDnbm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 64px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -2px;
  min-width: 0;
}
.freeBox___8WQhi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__cal4W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  font-size: 20px;
  text-align: center;
  min-width: 0;
}
.freeBox__tXm9B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__mAbKy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 16px;
}
.svg__krkU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__v7Cn5 {
  font-size: 20px;
}
.svg__tqx2W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__tO9O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tO9O {
    width: 100%;
    max-width: 0%;
    min-width: 0;
  }
}
.img__n5Wt9 {
  position: relative;
  object-fit: cover;
  max-width: 80%;
}
.img__n5Wt9 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__n5Wt9 {
    opacity: 0;
  }
}
.freeBox__vdlg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 144px 24px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vdlg {
    margin-top: calc(0px + 0px) !important;
    padding: 36px 24px 0px;
  }
}
.freeBox__tA3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__xnGhn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 56px;
  text-align: center;
  letter-spacing: -2px;
  min-width: 0;
}
.freeBox__tvebp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__t1SBz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
.freeBox__vLdN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(48px + 0px) !important;
  margin-bottom: 48px;
  min-width: 0;
  padding: 0px 48px 8px;
}
.freeBox__pmpfO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmpfO {
    padding-top: 0px;
  }
}
.freeBox__rQXga {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fNc0P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fOD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 8px;
}
.freeBox__qVghC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__hgQzu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 8px 8px 32px;
}
.freeBox__yBrDo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__t2Zr6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___6ZsZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
.text__zLGp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 8px 8px 32px;
}
.freeBox__xu8Co {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__kZkIy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
.text__i7G1S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 8px 8px 32px;
}
.freeBox__x122Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__yKf4T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
  padding: 8px;
}
.text___4GAvq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 8px 8px 32px;
  margin: 0px;
}
.freeBox__fedio {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fedio {
    max-width: 0%;
  }
}
.img__egPpn {
  position: relative;
  object-fit: cover;
  max-width: 80%;
}
.img__egPpn > picture > img {
  object-fit: cover;
}
.freeBox__pDmuu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 104px 32px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pDmuu {
    padding-top: 16px;
    padding-bottom: 0px;
  }
}
.freeBox__yln1U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yln1U {
    padding: 0px;
  }
}
.freeBox__hbTWn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__qk6Os {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 56px;
  letter-spacing: -2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__qk6Os {
    text-align: left;
  }
}
.freeBox__giGWd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__y15T7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
.freeBox__gRgm1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gRgm1 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__qiCcO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__iQeo4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #1e61e7;
  height: 60px;
  flex-shrink: 0;
}
.text__wv6Ry {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
  padding: 24px;
}
.text__btmaa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__sOB7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__l5Pe5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ec1010;
  height: 60px;
  flex-shrink: 0;
}
.text__hiC5H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
  padding: 24px;
}
.text__g4RKu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__grCty {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__wd2P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #12bb12;
  height: 60px;
  flex-shrink: 0;
}
.text___2IaDq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
  padding: 24px;
}
.text__zJhC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__ydzBe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 0px) !important;
  min-width: 0;
  padding: 204px 16px 8px;
}
.freeBox__mZdi7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 48px;
  min-width: 0;
  padding: 8px;
}
.h1__wwlCx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 56px;
  text-align: center;
  letter-spacing: -2px;
  min-width: 0;
}
.text__j4Zfh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  min-width: 0;
  padding: 16px;
}
.freeBox__xbw1E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbw1E {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__gaeyz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__gKfca {
  position: relative;
  object-fit: cover;
  max-width: 60%;
}
.img__gKfca > picture > img {
  object-fit: cover;
}
.text__qkdvn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__zETe5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
  padding: 16px;
}
.freeBox__ivFjM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__ycXg8 {
  position: relative;
  object-fit: cover;
  max-width: 60%;
}
.img__ycXg8 > picture > img {
  object-fit: cover;
}
.text__vh1Sz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__y5Fcz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
  padding: 16px;
}
.freeBox__omVa9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__q1GGx {
  position: relative;
  object-fit: cover;
  max-width: 60%;
}
.img__q1GGx > picture > img {
  object-fit: cover;
}
.text__mpGCk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__iRFqt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
  padding: 16px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: calc(0px + 0px) !important;
  font-size: 48px;
  letter-spacing: -2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 204px 0px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    margin-top: calc(0px + 0px) !important;
    padding: 32px 0px 16px;
  }
}
.freeBox__nt2IB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nt2IB {
    padding: 0px;
  }
}
.text__uBjwj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uBjwj {
    padding-bottom: 16px;
  }
}
.freeBox__pEcAz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__pEcAz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__pEcAz > :global(.__wab_flex-container) > *,
.freeBox__pEcAz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pEcAz > :global(.__wab_flex-container) > picture > img,
.freeBox__pEcAz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button__jtQeK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 155px;
  flex-shrink: 0;
}
.svg__jPiFw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1Xq9R {
  text-align: center;
}
.svg__ffiPd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.verbumFooter:global(.__wab_instance) {
  position: relative;
}
.freeBox__doDtx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__oxtXe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
